# dependencies

/Backend/node_modules
/Backend/config/config.env


/PortfolioFrontend/node_modules
/PortfolioFrontend/.pnp
/PortfolioFrontend/.pnp.js

# testing
/PortfolioFrontend/coverage

# production
/PortfolioFrontend/build

# misc
/PortfolioFrontend/.DS_Store
/PortfolioFrontend/.env.local
/PortfolioFrontend/.env.development.local
/PortfolioFrontend/.env.test.local
/PortfolioFrontend/.env.production.local  


# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
